
/* Montserrat Black = 900 */
h1, h2, h3, h4 {  
    font-family: "montserrat";
    font-weight: bold;
}

p { 
    font-family: 'Montserrat', sans-serif;
    color: #8f8f8f;
}


body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* Headings */


.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.big-heading {
    font-weight: 900;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* containers */
.container-fluid {
    padding : 7% 15%;
}

/* Sections */

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: white;
}

/* Navigation-bar */
.navbar {
    padding: 0 0 4.5rem;
    font-size: 1.5rem;
}

.navbar-brand {
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
}

/* title-sectiom */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

/* Download bottons */
.download-button {
    margin: 5% 3% 5% 0;
}
/* Title-image */
.title-image {
    width: 22%;
    transform: rotate(25deg);
    position: absolute;
    right: 23%;
}
/* Features Sention */

.feature-title {
    font-size: 1.5rem;
}

#features {

    position: relative;
}

.feature-box {
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68
}

/* Testemonials */

#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
/* press */
#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 15px;
}

/* Pricing Section */

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

#pricing {
    padding: 100px;
}
.pricing-column {
    padding: 3% 2%;
}


@media (max-width: 992px) {

#title {
        text-align: center;
}

.title-image {
    position: static;
    transform: rotate(0);
}

.download-butt {
    margin: 3% 2% 3% 0;
}


/* Footer Section */

.media {
    margin: 20px 10px;
}